<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">
	<!-- 글 목록 검색 -->
	<select id="getBoardList" resultType="com.spring.board.model.BoardVO">
		SELECT A.BOARD_CD AS BOARD_CD
			  , A.USER_ID AS USER_ID
			  , A.TITLE AS TITLE
			  , A.CONTENT AS CONTENT
			  , A.IN_ID AS IN_ID
			  , A.IN_DATE AS IN_DATE
			  , A.UP_ID AS UP_ID
			  , A.UP_DATE AS UP_DATE
		  FROM BOARD A
		 ORDER BY A.IN_DATE DESC
	</select>
	<!-- 글 상세 검색 -->
	<select id="getBoardContent" resultType="com.spring.board.model.BoardVO">
		SELECT A.BOARD_CD AS BOARD_CD
			  , A.USER_ID AS USER_ID
			  , A.TITLE AS TITLE
			  , A.CONTENT AS CONTENT
			  , A.IN_ID AS IN_ID
			  , A.IN_DATE AS IN_DATE
			  , A.UP_ID AS UP_ID
			  , A.UP_DATE AS UP_DATE
		  FROM BOARD A
		 WHERE A.BOARD_CD = #{board_cd}
	</select>
	<insert id="insertBoard" parameterType="com.spring.board.model.BoardVO">
		INSERT
		  INTO BOARD (
		  		USER_ID
			  , TITLE
			  , CONTENT
			  , IN_ID
			  , IN_DATE
			  , UP_ID
			  , UP_DATE
			  ) VALUES (
			    #{user_id}
			  , #{title}
			  , #{content}
			  , #{in_id}
			  , NOW()
			  , #{up_id}
			  , NOW()
		 		)
	</insert>
	<update id="updateBoard" parameterType="com.spring.board.model.BoardVO">
		UPDATE BOARD
		   SET TITLE = #{title}
		     , CONTENT = #{content}
		     , UP_ID = #{up_id}
		     , UP_DATE = NOW()
		 WHERE BOARD_CD = #{board_cd}
 	</update>
	<delete id="deleteBoard" parameterType="com.spring.board.model.BoardVO">
		DELETE
		  FROM BOARD
		 WHERE BOARD_CD = #{board_cd}
	</delete>
</mapper>